<h1>New Author</h1>

<%= form_for(@author) do |f| %>
  <div class="field">
    <%= f.label :name, 'Author Name:' %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :genre, 'Author Genre:' %><br>
    <%= f.text_field :genre %>
  </div>

  <div class="field">
    <%= f.label :bio, 'Author Bio:' %><br>
    <%= f.text_area :bio %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
